<h1>Demo Icons</h1>
<p>These are the icons in the demo set that I created for the blog entry at <%= link_to "davidmoulton.me", "http://davidmoulton.me/2012/12/01/create-a-custom-icon-font-for-rails.html" %></p>

<p><i class="icon-emo-happy"></i>  <i class="icon-emo-wink"></i> <i class="icon-emo-unhappy"></i> <i class="icon-emo-wink2"></i></p>
